<div class ='jumbotron'>
	<h1>Welcome to Shop Turkey</h1>
	<p><a href='http://www.shopturkey.org/'>Sign in</a> to start shipping</p>
	<p> <%= link_to 'Sign up', 'http://www.randomrunway.co', class: 'btn btn-primary  btn-lg'%> </p>
</div>